input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#chat-wrap {
    width:80%;
    background-color: #ededed;
    margin-top: 50px;
    padding:20px 10px;
    border-radius: 20px;
}

#chatt {
    width: 100%;
    margin: 0 auto;
}

#title {
    font-size: 20pt;
    text-align: center;
    margin-bottom: 20px;
}

#talk{
    width: 100%;
    height: 400px;
    overflow-y: auto;
    border-radius: 18px;
    position: relative
}

.talk-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#msg-box {
    width: 60%;
    display: block;
    padding: 10px;
    margin-top: 10px;
    border-radius:10px;
    box-sizing: border-box;
}

.me {
    background-color : #ffc;
    margin : 0px 0px 0px 40%;
}

.other {
    background-color : #cce8ff;
    margin : 20px 0px 2px 0%;
}

#name {
    display: inline-block;
    border: 1px solid #dcdcdc;
    background-color: white;
    padding:5px 2px;
    margin-top: 0px;
}


/*#btnNameCheck {*/
/*    background-color: #324298;*/
/*    color: white;*/
/*    width: 30%;*/
/*    height: 35px;*/
/*    border: 1px solid #dcdcdc;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*    display: inline-block;*/
/*}*/

#sendZone > * {
    vertical-align: top;
    margin-top: 10px;
    height : 70px;
    display: flex;
}

#msg{
    width: 90%;
    display: inline-block;
    resize: none;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    box-sizing: border-box;
}

#btnSend {
    background-color: #324298;
    color: white;
    width: 10%;
    display: inline-block;
    border: 1px solid #dcdcdc;
    text-align: center;
    font-weight: bold;
}

/*#btnExit {*/
/*    background-color: black;*/
/*    color: white;*/
/*    width: 30%;*/
/*    height: 35px;*/
/*    border: 1px solid #dcdcdc;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*    display: inline-block;*/
/*}*/

