.cross-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.active-black {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: #000;
    opacity: 1;
    border: 2px solid #000;
    border-radius: 50%;
    z-index : 5;
}
.hover-black {
    position: absolute;
    width: 95%;
    height: 95%;
}

.hover-black:hover {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: #000;
    opacity: 0.7;
    border: 1px solid #000;
    border-radius: 50%;
}

.active-white {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #000;
    border-radius: 50%;
    z-index : 2;
}
.hover-white {
    position: absolute;
    width: 95%;
    height: 95%;
}

.hover-white:hover {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: #fff;
    opacity: 0.7;
    border: 1px solid #fff;
    border-radius: 50%;
}

.horizontal-line,
.vertical-line {
    position: absolute;
    background-color: #000;
    z-index : 1;
    opacity: 0.7;
}

.horizontal-line {
    width: 100%;
    height: 2px; /* 가로선 두께 조절 */
    top: 50%;
}

.vertical-line {
    width: 2px; /* 세로선 두께 조절 */
    height: 100%;
    left: 50%;
}
