.game-re {
    display: block;
    width: 80%;
    background-color: orangered;
    color: white;
    font-weight: bold;
    font-size: x-large;
    padding: 2%
}

.game-exit {
    display: block;
    width: 80%;
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
    font-size: x-large;
    padding: 2%
}

#regame-modal {
    position: fixed;
    top: 40%;
    left: 25%
}